<!doctype html>
<html lang="en">
<head>
	<title>TabREST: Tableau Server REST API Demo</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/tabchat.css"> -->
	<!-- <script type="text/javascript" src='/javascripts/jquery-2.1.0.min.js'></script> -->
	<!--<script type="text/javascript" src='/javascripts/bootstrap.min.js'></script>-->
</head>
<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="page-header">
					<h1>
						Tableau Server REST API Demo
					</h1>
				</div>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-12 column">
				<form role="form">
					<div class="form-group">
						 <label for="newUser">New User Login</label><input type="text" class="form-control" id="newUser">
					</div>
					<div class="form-group">
						 <label for="newUserPW">New User PW</label><input type="text" class="form-control" id="newUserPW">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>